@import '../variables';

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background: $borderColor;
  border: 2px solid $borderColor;
  border-radius: 8px;
  max-width: 600px;
  margin: 2em auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

  label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 100%;
    align-items: center;

    span {
      margin-bottom: 0.5em;
      color: $textColor;
    }

    input,
    textarea {
      padding: 0.5em;
      margin-bottom: 1em;
      width: 80%;
      background: $inputBackground;
      border: 1px solid $borderColor;
      border-radius: 4px;
      color: $textColor;
      font-family: inherit;
    }

    button {
      padding: 0.5em 1em;
      background-color: $buttonBackground;
      color: $textColor;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: $buttonHoverBackground;
      }
    }

    .methods {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 1em;

      button {
        cursor: pointer;
        padding: 0.5em 1em;
        border: 1px solid $borderColor;
        border-radius: 4px;
        background-color: $buttonBackground;
        color: $textColor;
        text-align: center;
        flex: 1;
        margin: 0 0.25em;

        &.active {
          background-color: $buttonHoverBackground;
          font-weight: bold;
        }

        &:hover {
          background-color: $buttonHoverBackground;
        }
      }
    }
  }

  textarea {
    margin-top: 1em;
  }
}
